*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

header.navbar-container {
  width: 100%;
  max-width: 84.375rem;
  padding-block: 1rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

header.navbar-container .logo img {
  width: 6.875rem;
}

header.navbar-container .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
  list-style-type: none;
}

header.navbar-container .nav-list li a {
  padding: 0.5rem 1.5rem;
  border-radius: 4.875rem;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
  background-color: #d6c2f5;
  color: white;
}

header.navbar-container .searchbar {
  border-radius: 1.25rem;
  background: #d6c2f5;
  width: 25rem;
  height: 3.813rem;
  flex-shrink: 0;
  display: flex;
}

header.navbar-container .searchbar input {
  border: none;
  background: none;
  outline: none;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  font-size: 1.05rem;
  font-weight: 400;
}

header.navbar-container .searchbar button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  padding: 0 1rem;
  font-size: 1.05rem;
  font-weight: 500;
}

header.navbar-container .login {
  color: #d6c2f5;
  transition: all 0.2s ease-in-out;
  border-radius: 1.25rem;
  border: 1px solid #d6c2f5;
  width: 7.25rem;
  height: 3.813rem;
  flex-shrink: 0;
  display: flex;
  cursor: pointer;
}

header.navbar-container .login:hover {
  background-color: #d6c2f5;
  color: black;
}

header.navbar-container .login p {
  margin-inline: auto;
  padding: 0 1rem;
  font-size: 1.05rem;
  font-weight: 500;
}

main {
  flex: 1;
  width: 100%;
  max-width: 84.375rem;
  margin-inline: auto;
  padding: 2rem 0rem;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

main .content .hero {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
  background-image: url("../img/bghero.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main .content .hero .hero-description {
  flex: 1 1;
}

.title {
  font-size: 3.75rem;
  font-weight: 700;
  color: #fff;
}

main .content .hero .hero-description p {
  font-size: 1.2rem;
  line-height: 1.7rem;
  color: #fff;
}

main .content .hero .hero-description button {
  border: 0.1875rem solid #d6c2f5;
  background-color: transparent;
  color: #d6c2f5;
  padding: 0.8rem 2.5rem;
  border-radius: 999rem;
  margin-block-start: 1rem;
  font-family: "poppins", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

main .content .hero .heros-description button:hover {
  background-color: #d6c2f5;
  color: black;
}

main .content .hero .hero-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

main .content .hero .hero-image img {
  width: 34.925rem;
  height: 31.062rem;
}

main aside {
  position: fixed;
  inset-block: 0;
  inset-inline-end: 0;
}

main aside .social-media {
  height: 100%;
  display: flex;
}

main aside .social-media ul {
  padding: 1.5rem 1rem;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  margin: auto;
  background-color: #33373c54;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

main aside .social-media li {
  list-style-type: none;
}

main aside .social-media li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  transition: all 0.1s ease-in-out;
}

main aside .social-media li a:hover {
  color: #89b0d9;
}

main aside .social-media li a img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  padding: 0.5rem;
  transition: all 0.1s ease-in-out;
}

main .content .sotow {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
  margin-block-start: 4rem;
}

main .content .sotow h1 {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: normal;
  margin-block: 1.25rem;
}

main .content .sotow h3 {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0;
}

main .content .sotow .sotow-description p {
  font-size: 1.2rem;
  line-height: 1.7rem;
  margin-block-start: 1rem;
  text-align: center;
}

main .content .sotow .sotow-image {
  width: 78.375rem;
  height: 40.062rem;
  background-image: url("../img/sotow.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
  position: relative;
  border-radius: 1.3125rem;
}

main .content .sotow .sotow-image .description {
  position: absolute;
  bottom: 0;
  padding: 1.25rem;
}

main .content .sotow .sotow-image .description h3 {
  color: #fff;
  font-family: Poppins;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

main .content .sotow .sotow-image .description p {
  color: #fb7dd8;
  font-family: Poppins;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

main .content .progset {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
  margin-block-start: 4rem;
  background-color: transparent;
}

main .content .progset p {
  color: #fff;
  text-align: center;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

main .content .hiasan {
  position: absolute;
  transform: translateY(-50%);
  right: -50%;
  width: 84.375rem;
  height: 36rem;
  flex-shrink: 0;
  background-image: url("../img/gabungan.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
}

footer {
  height: 12.5625rem;
  background: rgba(90, 90, 90, 0.41);
  flex-shrink: 0;
  display: flex;
  margin: 0;
  position: relative;
  transform: translateY(50%);
  bottom: 0;
  width: 100%;
}

footer p {
  margin: auto;
  color: #fff;
  text-align: center;
  font-family: "Popins", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.7rem;
}

main .content .iklan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-inline: 2rem;
  margin-block-start: 4rem;
}

main .content .iklan .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 1.3125rem;
}

main .content .iklan .content p {
  color: #fff;
  text-align: justify;
  font-family: Poppins;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main .content .jelajahi {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
  margin-block-start: 4rem;
  max-width: 84.375rem;
}

main .content .jelajahi .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 1.3125rem;
}

main .content .jelajahi .content .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 2rem;
  margin: 1rem;
  border-radius: 1.3125rem;
  background-color: #33373c54;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}

main .content .jelajahi .content .card:hover {
  transform: translateY(-10px);
  box-shadow: 0.625rem 0.625rem 0.625rem rgba(0, 0, 0, 0.25);
}

main .content .jelajahi .content .card img {
  width: 20.3125rem;
  border-radius: 1.3125rem;
}

main .content .jelajahi .content .card h3 {
  color: #fff;
  font-family: Poppins;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main .content .jelajahi .content .card .profile p {
  color: #fff;
  font-family: Poppins;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main .content .jelajahi .content .card .profile {
  display: flex;
  align-items: center;
}

main .content .jelajahi .content .card .profile img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
  margin-inline-end: 1rem;
}

.menu-toggle {
  display: none;
  color: white;
}

/* Perangkat dengan lebar layar 1200px dan di bawahnya */
@media screen and (max-width: 1200px) {
  main {
    display: flex;
    flex-direction: column;
  }

  header.navbar-container {
    flex-direction: column;
    gap: 1rem;
  }

  header.navbar-container .nav-list ul {
    flex-wrap: wrap;
    column-gap: 0.5rem;
  }

  main .content .hero {
    max-width: 1000px;
    flex-direction: column;
    gap: 2rem;
    background-size: auto;
    background-image: url("../img/bghero.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  main .content .hero .hero-description {
    padding-inline: 0;
    text-align: center;
  }

  main .content .hero .hero-description .title {
    font-size: 3rem;
  }

  main .content .hero .hero-description p {
    font-size: 1rem;
  }

  main .content .hero .hero-image {
    display: none;
  }

  main .content .sotow {
    padding-inline: 0;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  main .content .sotow .sotow-image {
    width: 100%;
    height: 20rem;
    background-image: url("../img/sotow.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
    position: relative;
    border-radius: 1.3125rem;
  }

  main .content .sotow .sotow-image .description {
    position: absolute;
    bottom: 0;
    padding: 1.25rem;
  }

  main .content .sotow .sotow-image .description h3 {
    color: #fff;
    font-family: Poppins;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  main .content .sotow .sotow-image .description p {
    color: #fb7dd8;
    font-family: Poppins;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
  }

  main .content .progset {
    padding-inline: 0;
    max-width: 1000px;
  }

  main .content .progset p {
    font-size: 2rem;
  }

  main .content .iklan {
    padding-inline: 0;
    max-width: 1000px;
  }

  main .content .iklan .content {
    flex-direction: column;
  }

  main .content .iklan .content p {
    font-size: 2rem;
  }

  main .content .jelajahi {
    padding-inline: 0;
    max-width: 1000px;
  }

  main .content .jelajahi .content {
    flex-direction: row;
  }

  main .content .jelajahi .content .card {
    padding: 1rem;
    margin: 0.5rem;
  }

  main .content .jelajahi .content .card img {
    width: 15rem;
  }

  main .content .jelajahi .content .card h3 {
    font-size: 0.875rem;
  }

  main .content .jelajahi .content .card .profile p {
    font-size: 0.875rem;
  }

  main .content .jelajahi .content .card .profile img {
    width: 2rem;
    height: 2rem;
  }
}

/* Perangkat dengan lebar layar 768px dan di bawahnya */
@media screen and (max-width: 768px) {
  header.navbar-container {
    flex-direction: column;
  }

  header.navbar-container .searchbar {
    width: 80%;
  }

  header.navbar-container .nav-list ul {
    flex-wrap: wrap;
    column-gap: 0.5rem;
  }

  main .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main .content .hero {
    padding-inline: 0;
    max-width: 30%;
    display: flex;
    flex-direction: column;
  }

  main .content .hero .hero-description {
    padding-inline: 0;
    text-align: center;
  }

  .title {
    font-size: 2rem;
  }

  main .content .hero .hero-description p {
    font-size: 1rem;
  }

  main .content .hero .hero-image {
    display: none;
  }

  main .content .sotow {
    padding-inline: 0;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  main .content .sotow .sotow-image {
    width: 100%;
    height: 20rem;
    background-image: url("../img/sotow.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
    position: relative;
    border-radius: 1.3125rem;
  }

  main .content .sotow .sotow-image .description {
    position: absolute;
    bottom: 0;
    padding: 1.25rem;
  }

  main .content .sotow .sotow-image .description h3 {
    color: #fff;
    font-family: Poppins;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  main .content .sotow .sotow-image .description p {
    color: #fb7dd8;
    font-family: Poppins;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
  }

  main .content .progset {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-inline: 0;
  }

  main .content .progset p {
    font-size: 1rem;
  }

  main .content .iklan {
    padding-inline: 0;
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  main .content .iklan .content {
    max-width: 40%;
  }

  main .content .iklan .content p {
    font-size: 1rem;
    width: auto;
  }

  main .content .iklan .content {
    flex-direction: column;
  }

  main .content .jelajahi {
    padding-inline: 0;
    max-width: 30%;
  }

  main .content .jelajahi .content {
    flex-direction: column;
  }

  main .content .jelajahi .content .card {
    padding: 1rem;
    margin: 0.5rem;
    font-size: 1rem;
  }

  main .content .jelajahi .content .card img {
    width: 15rem;
  }

  main .content .jelajahi .content .card h3 {
    font-size: 0.875rem;
  }

  main .content .jelajahi .content .card .profile p {
    font-size: 0.7rem;
  }

  main .content .jelajahi .content .card .profile img {
    width: 2rem;
    height: 2rem;
  }
}
